<div class="container">
  <h2>Welcome, <%=current_user.username%> </h2>
  <h3>Your current challenges:</h3>
  <% if flash.has?(:message) %>
  <p style="color:red;"> <%= flash[:message] %> </p>
  <% end %>

  <% if current_user.challenges.empty? %>
  <p>You do not have any budget challenges at the moment.</p>
  <% else %>
  <br>
  <div class="list-group">
    <%@challenges.order('id DESC').each do |challenge|%>
    <a href="/challenges/<%=challenge.slug%>" class="list-group-item">
      <h4 class="list-group-item-heading"><%=challenge.name%></h4>
      <% if challenge.money_spent <= challenge.budget %>
      <p style="color:green;" class="list-group-item-text"><b>Remaining Budget:</b> $<%=sprintf("%.2f", challenge.remaining_budget)%></p>
      <p class="list-group-item-text"><b>Initial Budget</b> $<%=sprintf("%.2f", challenge.budget)%></p>
      <% else %>
      <p style="color:red;" class="list-group-item-text"><b>Over Budget By:</b> $<%=sprintf("%.2f", challenge.money_spent - challenge.budget)%></p>
      <p class="list-group-item-text"><b>Initial Budget</b> $<%=sprintf("%.2f", challenge.budget)%></p>
      <% end %>

      <br>
      <div class="progress">
        <% if challenge.money_spent <= challenge.budget %>
        <div class="progress-bar progress-bar-success active progress-bar-striped" role="progressbar" style="width:<%=challenge.percentage_spent%>%; font-size: 15px;">
          <div style="color: black">$<%=sprintf("%.2f", challenge.money_spent)%></div>
        </div>
        <% else %>
        <div class="progress-bar progress-bar-danger active progress-bar-striped" role="progressbar" style="width:100%; font-size: 15px;">
          $<%=sprintf("%.2f", challenge.money_spent)%>
        </div>
        <% end %>
      </div>
    </a>
    <%end%>
  </div>
  <% end %>
  <a href="/challenges/new" class="btn btn-primary">Create a new challenge</a>
  <br>
  <br>
  <br>
</div>
