<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%=@challenge.name%></title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="/stylesheets/main.css" rel="stylesheet" type="text/css">

  </head>

  <body>

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/challenges">BudgetChallenges</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <!-- main nav links -->
          <ul class="nav navbar-nav">
            <li><a href="/challenges/new">Create a Challenge</a></li>
            <li><a href="/logs/new">Log Spending</a></li>
            <li><a href="/logs">View Logs</a></li>
          </ul>
          <!-- Log out bar -->
          <ul class="nav navbar-nav navbar-right">
            <li><a class="logout" href="/challenges" title="username"><%=current_user.username%></a></li>
            <li><a class="logout" href="/logout" title="Log Out">Log Out</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="container">
      <% if flash.has?(:message) %>
        <p style="color:green;"> <%= flash[:message] %> </p>
      <% end %>
      <h2><%=@challenge.name %></h2>
        <% if @challenge.money_spent <= @challenge.budget %>
          <h3>Remaining Budget: $<%=sprintf("%.2f", @challenge.remaining_budget)%></h3>
          <p><b>Your target budget:</b> $<%=sprintf("%.2f", @challenge.budget)%> <a href="<%=@challenge.slug%>/edit">Change budget?</a></p>
        <% else %>
          <h3 style="color:red;">Over Budget By: $<%=sprintf("%.2f", @challenge.money_spent - @challenge.budget)%></h3>
          <p><b>Your initial budget:</b> $<%=sprintf("%.2f", @challenge.budget)%> <a href="<%=@challenge.slug%>/edit">Increase budget?</a></p>
        <% end %>

          <p><b>Date Started:</b> <%=@challenge.date_started%></p>



        <br>

        <div class="progress left">
          <% if @challenge.money_spent <= @challenge.budget %>
            <div class="progress-bar progress-bar-success active progress-bar-striped" role="progressbar" style="width:<%=@challenge.percentage_spent%>%; font-size: 15px;">
              <div style="color:black;">$<%=sprintf("%.2f", @challenge.money_spent)%></div>
            </div>
          <% else %>
            <div class="progress-bar progress-bar-danger active progress-bar-striped" role="progressbar" style="width:100%; font-size: 15px;">
              $<%=sprintf("%.2f", @challenge.money_spent)%>
            </div>
          <% end %>

        </div>
        <form action="/challenges/<%=@challenge.slug%>/delete" method="post" style="margin: 0; padding: 0;">
          <input id="hidden" type="hidden" name="_method" value="delete">
          <p>
          <a href="/challenges/<%=@challenge.slug%>/edit" class="btn btn-primary">Edit</a>
            <button style="display: inline;" type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this item?');">Delete</button>
          </p>
        </form>

        <h4>Spending Logs</h4>
        <table class="table left">
          <thead>
            <tr>
              <th>Description</th>
              <th>Cost</th>
              <th>Date Logged</th>
            <tr>
          </thead>
          <tbody>
          <% @challenge.logs.order("id DESC").each do |log| %>
            <tr>
              <td><a href="/logs/<%=log.id%>"><%=log.description%></a></td>
              <td>$<%=sprintf("%.2f", log.cost)%></td>
              <td><%=log.date_logged%></td>
            <tr>
          <% end %>
        </tbody>
      </table>
      <a href="/challenges/<%=@challenge.slug%>/new_log" class="btn btn-primary">Log Spending</a>
      <br><br>
    </div>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
