<div class="container">
  <form class="form-signin" action="/logs/<%=@log.id%>" method ="POST" >
    <input type="hidden" id="hidden" name="_method" value="patch">
    <% if flash.has?(:message) %>
      <p style="color:red;"> <%= flash[:message] %> </p>
    <% end %>
    <h4>Description</h4>
    <div class="input-group">
      <input type="text" class="form-control" name="log[description]" value="<%=@log.description%>" aria-describedby="basic-addon1" required autofocus>
    </div>
    <h4>Cost</h4>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">$</span>
      <input type="number" step="0.01" name="log[cost]" class="form-control" value="<%= sprintf("%.2f", @log.cost) %>" aria-describedby="basic-addon1" required>
    </div>
    <br>
    <h4>Edit challenge(s) the log belongs to</h4>

    <% current_user.challenges.order('id DESC').each do |challenge|%>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" name="log[challenge_ids][]" value="<%= challenge.id %>"<%='checked' if @log.challenges.include?(challenge)%> id="<%= challenge.name %>">
          <%=challenge.name %>
        </label>
      </div>
    <% end %>

    <p><i><b>AND/OR</b></i> Create a new challenge the log belongs to</p>

    <h5><b>Challenge Name</b></h5>
    <div class="input-group-sm">
      <input type="text" class="form-control" name="challenge[name]" placeholder="Less coffee this week." aria-describedby="sizing-addon3">
    </div>
    <h5><b>Target Budget</b></h5>
    <div class="input-group input-group-sm">
      <span class="input-group-addon" id="sizing-addon3">$</span>
      <input type="number" step="0.01" name="challenge[budget]" class="form-control" placeholder="0.00" aria-describedby="sizing-addon3">
    </div>

    <br>
    <button type="submit" class="btn btn-primary btn-lg">Edit Log</button>
  </form>
</div>
