<div class="container">
  <% if flash.has?(:message) %>
    <p style="color:green;"> <%= flash[:message] %> </p>
  <% end %>
  <h3><%=@log.description%></h3>
  <p><b>Cost:</b> $<%= sprintf("%.2f",@log.cost) %></p>
  <p><b>Date Logged:</b> <%=@log.date_logged%></p>
  <p><b>Challenge(s) log belongs to:</b></p>
  <% if @log.challenges.empty? %>
    <p>This log does not currently belong to a challenge.</p>
  <% end %>
  <ul>
    <%@log.challenges.each do |challenge|%>
      <li><a href="/challenges/<%=challenge.slug%>"><%=challenge.name%></a></li>
    <%end%>
  </ul>


  <form action="/logs/<%=@log.id%>/delete" method="post" style="margin: 0; padding: 0;">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <p>
    <a href="/logs/<%=@log.id%>/edit" class="btn btn-primary">Edit</a>
      <button style="display: inline;" type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this item?');">Delete</button>
    </p>
  </form>
</div>
